.section__title--contact {

    &::after {
        background-image: url('../../../images/contact/Phone.png');
    }
}

.contact {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.contact__top {
    max-width: 844px;
    margin: 0 auto;
}

.contact__top-item-title {
    margin: 25px 0 10px;
}

.contact__form {
    margin-top: 90px;
    max-width: 945px;
    margin: 90px auto 0;
}

.contact__form-input {
    width: 100%;
    margin-top: 15px;
    resize: none;
    height: 45px;
    padding-left: 15px;
    font-size: 14px;
}

.contact__form-top {
    input {
        margin-top: 0;
        max-width: 49%;
        
    }
}

.contact__form-input--textarea {
    font-family: 'Raleway', sans-serif;
    padding-top: 15px;
    height: 170px;
}

.btn--submit {
    width: 160px;
    height: 42px;
    line-height: 42px;
    margin-top: 15px;
}