.portfolio__top, .portfolio__bottom {
    display: none !important;
}

.portfolio__item {
    width: calc((100% - 40px) / 3);
    height: 230px;
    margin: 8px;
    display: inline-block;

    &:nth-child(1) {
        margin-left: 0;
    }

    &:nth-child(3) {
        margin-right: 0;
    }

    &:nth-child(4) {
        margin-left: 0;
    }

    &:nth-child(6) {
        margin-right: 0;
    }
}