.services {
    padding: 140px 0;
    background-color: $dark-gray;
}

.section__title--services {

    &::after {
        background-color: #222222;
        background-image: url(../../../images/services/services.png);
    }
}

.services__item-desc-title {
    margin-top: 45px;
    margin-bottom: 25px;
    color: $green;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.services__item-desc-text {
    max-width: 295px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
