.section__title--about-us {
    position: relative;

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        width: 100px;
        height: 2px;
        margin: 0 auto;
        background-color: #D3D3D3;
    }

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 52px;
        right: 0;
        left: 0;
        width: 35px;
        height: 17px;
        margin: 0 auto;
        background-color: #FFFFFF;
        background-image: url(../../../images/about-us/about-us-title-icon.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
}

.section__title--about-us__desc {
    margin-bottom: 40px !important;
    padding: 0!important;
    text-align: left!important;
}

.about-us__desc-text {
    max-width: 572px;
    font-family: 'Raleway', sans-serif;
}

.about-us__desc-features {
    margin-top: 60px;
}

.about-us__desc-features-el-icon {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: #3B3B3B;
    line-height: 78px;
    text-align: center;
}

.about-us__desc-features-el-desc {
    margin-left: 30px;
}

.about-us__desc-features-el-desc-title {
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-us__desc-features-el-desc-text {
    max-width: 185px;
    color: #6A6A6A;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.about__us-desc-features-bottom {
    margin-top: 60px;
}
