.about-us {
    color: #525252;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;

    .container {
        display: none;
    }
}

.about-us__image-holder {
    height: 420px;
    background-color: #000000;
}

.container--resp {
    display: block!important;
}

.section__title--about-us-resp {
    margin: 35px 0 25px;
    padding-bottom: 20px!important;
    border-bottom: solid #E6E6E6 1px;
}

.about__us-text {
    margin-bottom: 45px;
}

.about__us-list {
    max-width: 544px;
}

.about__us-list-el {
    display: inline-block;
    margin-top: 30px;

    &:first-child {
        margin-top: 0;
    }

    &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 15px;
        padding-right: 6px;
        background: url(../../../images/header/CheckIcon.png) no-repeat center;
    }
}

.btn--read-more {
    width: 138px;
    height: 42px;
    margin-top: 45px;
    line-height: 42px;
    text-align: center;
}
