.footer {
    padding: 45px 0 60px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
}

.footer__social-links {
    margin: 50px 0;
}

.footer__social-links-el {
    display: inline-block;
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }

    a {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-color: #252525;
        line-height: 40px;

        &:hover {
            background-color: #46629E;
        }
    }
}
