@import '../../global/palette.scss';

.header__top {
    padding: 25px 0;
    background-color: #000;
}

.header__top-nav-el {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &:hover {
        color: $green;
    }
}

.header__bottom {
    height: 760px;
    background-color: $dark-gray;
    
    .container {
        height: 100%;
    }
}

.header__bottom-slider-controls {
    top: 50%;
}

.header__bottom-slider-controls--prev {
    left: 40px;
}

.header__bottom-slider-controls--next {
    right: 40px;
}

.header__bottom-slider-overlay {
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.header__bottom-subtitle {
    font-size: 62px;
    font-weight: 200;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}

.header__bottom-title {
    font-size: 72px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 10px;
}

.header__bottom-text {
    margin-top: 25px;
    font-weight: 300;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.btn--see-more {
    margin-top: 42px;
}