@import '../../global/palette.scss';

.header__top {
    padding: 25px 0;
    background-color: #000000;
}

.header__top-nav-el {
    margin-top: -3px;
    margin-right: -1px;
    margin-bottom: 9px;
    margin-left: 1px;
    padding: 0 20px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;


    &:first-child {
        margin-top: 0;
        margin-right: -18px;
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &:hover {
        color: $green;
    }
}

.header__bottom {
    height: 760px;
    background-image: url(../../../images/header/waterfall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        height: 100%;
    }
}

.header__bottom-slider-controls {
    top: 50%;
}

.header__bottom-slider-controls--prev {
    left: 40px;
}

.header__bottom-slider-controls--next {
    right: 40px;
}

.header__bottom-slider-overlay {
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

.header__bottom-subtitle {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
    font-weight: 200;
    text-transform: capitalize;
}

.header__bottom-title {
    margin-top: 10px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 700;
}

.header__bottom-text {
    margin-top: 25px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.btn--see-more {
    margin-top: 42px;
}


.eightp {
    margin-right: 7px;
}

.seventhp{
    margin-right: -6px;
}

.sixthp{
    margin-right: -6px;
}

.fivethp{
    margin-right: -4px;

}

.fourthp{
    margin-left: -4px;
}
.thirdp{
    margin-right: -1px;
}

.secondp{
        margin-right: -5px!important;
}

.firstp{
    
        margin-right: -5px!important;
}

.firsth{
    margin-right: -17px;
    margin-top: -9px;
}

.secondh{
    margin-right:-10px;
}